.chat-input {
    height: 50px;
    padding: 10px, 26px, 10px, 16px;
    border-radius: 160px;
    border: 1px;
    background: #F3F3F7;
    border: 1px solid #E7E7EF;
}

.chat-input-send-icon {
    background: linear-gradient(77.99deg, #203CF3 44.09%, #3D56F5 83.17%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    cursor: pointer;
}

.footer-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #9A9FC1;
    margin: 0.7rem 0;
}