.preferences-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    /* Match the background color */
}

.preferences-card {
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 24px;
}

.back-button {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #F9F9FB;
    border: 0.5px solid #E1E1EA;
    display: flex;
    justify-content: center;
}

.back-icon {
    width: 10px;
    height: 20px;
    top: 257px;
    cursor: pointer;

}

.step-counter {
    background: #e6f7ff;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 14px;
    color: #1890ff;
}

.preferences-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #223EF3;
}

.preferences-question {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 3rem;
}

.goals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 3rem auto;
}

.goal {
    padding: 6px 18px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    max-width: fit-content;
    top: 396px;
    left: 467px;
    border-radius: 300px;
    border: 1px;
    gap: 6px;
    border: 2px solid #C8C8DA
}

.goal.selected {
    border-color: #223EF3;
    color: #223EF3;
    background-color: #ECEEFE;
}

.preferences-next-button {
    width: 346px;
    border-radius: 8px;
    height: 40px;
    background: linear-gradient(180deg, #3D56F5 0%, #1634F3 100%);
    box-shadow: 0px 2px 12px 0px #B2BBFB;
    padding: 10px 53px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preferences-next-button:hover {
    background: linear-gradient(180deg, #3D56F5 0%, #1634F3 100%) !important;
    transform: scale(1.05);
}